@charset "UTF-8";

/* ==================================================
**
**  HTML
**
================================================== */

html {
    word-wrap: break-word;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    font-size: 14px;
    color: #424242;
    line-height: 1.64;
    letter-spacing: 1px;
    background-color: #f6f6f6;
}

p {
    /*text-align: justify;*/
}

a {
    position: relative;
    text-decoration: none;
    outline: none;
    transition: .3s;
    color: #0071b2;
}

a:hover,
a:active,
a:focus {
    border: none;
    text-decoration: none;
    color: rgba(0, 113, 178, .7);
}

a img {
    outline: none;
    border: none;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
}

/*a[href$=".pdf"]:after {
    position: absolute;
    top: 50%;
    right: 0;
    content: "\f1c1";
    font-family: FontAwesome;
}*/

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
}

caption,
th {
    text-align: left;
}

object,
embed {
    vertical-align: top;
}

legend {
    display: none;
}

img,
abbr,
acronym,
fieldset {
    border: 0;
    vertical-align: bottom;
}

ul,
ol {
    padding-left: 2rem;
}

img {
    max-width: 100%;
    height: auto;
    width/***/
    : auto;
    vertical-align: middle;
}

img {
    box-shadow: #000 0 0 0;
}

img,
x:-moz-any-link,
x:default {
    box-shadow: #000 0 0 0;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
        line-height: 1.8;
    }
}


/* ==================================================
**
**  WordPress
**
================================================== */

.aligncenter,
div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.wp-caption {
    border: 1px solid rgba(0, 113, 178, 1.0);
    text-align: center;
    background-color: #f3f3f3;
    /*padding-top: 4px;*/
    /*margin: 10px;*/
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 10px 0 20px 0;
    max-width: 100%;
    height: auto;
}

.wp-caption img {
    display: block;
    margin: 0;
    padding: 0;
    border: 0 none;
}


/* ==================================================
**
**  Grid
**
================================================== */

.row-0 {
    margin-left: 0;
    margin-right: 0;
}

.row-0 > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.row-10 {
    margin-left: -5px;
    margin-right: -5px;
}

.row-10 > [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.row-20 {
    margin-left: -10px;
    margin-right: -10px;
}

.row-20 > [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
}

.row-30 {
    margin-left: -15px;
    margin-right: -15px;
}

.row-30 > [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.row-40 {
    margin-left: -20px;
    margin-right: -20px;
}

.row-40 > [class*="col-"] {
    padding-left: 20px;
    padding-right: 20px;
}

.row-50 {
    margin-left: -25px;
    margin-right: -25px;
}

.row-50 > [class*="col-"] {
    padding-left: 25px;
    padding-right: 25px;
}

.row-60 {
    margin-left: -30px;
    margin-right: -30px;
}

.row-60 > [class*="col-"] {
    padding-left: 30px;
    padding-right: 30px;
}

.row-70 {
    margin-left: -35px;
    margin-right: -35px;
}

.row-70 > [class*="col-"] {
    padding-left: 35px;
    padding-right: 35px;
}

.row-80 {
    margin-left: -40px;
    margin-right: -40px;
}

.row-80 > [class*="col-"] {
    padding-left: 40px;
    padding-right: 40px;
}

.row-90 {
    margin-left: -45px;
    margin-right: -45px;
}

.row-90 > [class*="col-"] {
    padding-left: 45px;
    padding-right: 45px;
}

.row-100 {
    margin-left: -50px;
    margin-right: -50px;
}

.row-100 > [class*="col-"] {
    padding-left: 50px;
    padding-right: 50px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}


/* ==================================================
**
**  Form
**
================================================== */

select.form-control {
    border: 1px solid #0071b2;
    border-radius: .25rem;
}


/* ==================================================
**
**  Button
**
================================================== */

.btn {
    border-radius: .25rem;
}

.btn-primary:focus,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover {
    outline: none;
}

.wrap-btn {
    margin: 22px 0;
}

/* ==================================================
**
**  Thumbnail
**
================================================== */

.thumbnail {
    position: relative;
    /*margin-bottom: 10px;*/
    margin-bottom: 0;
    padding: 0;
    border: none;
    border-radius: 0;
}

.thumbnail .caption {
    color: #424242;
    font-size: 14px;
    line-height: 1.64;
    background-color: #f6f6f6;
    padding: 10px 20px 6px 20px;
}

.thumbnail .caption-magazine {
    color: #424242;
    font-size: 14px;
    line-height: 1.64;
    background-color: #f6f6f6;
    padding: 10px 20px 6px 20px;
}

.thumbnail .caption h4 {
    color: #0071b2;
    letter-spacing: 0;
    font-size: 22px;
}

.thumbnail .caption h4 + .wrap-intro {
    margin-bottom: 8px;
}

.link-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999em;
}

.wrap-thumbnail .main-img.lr-center {
    margin-bottom: 0;
}

.post-meta-top {
    size: 14px;
    color: #c3c3c3;
    letter-spacing: -1px;
}


/* ==================================================
**
**  構造体
**
================================================== */

#wrapper {
    overflow: hidden;
}

.container.container-margin-off {
    padding: 0;
}

@media (min-width: 768px) {
    .container.container-margin-off {
        padding-left: 15px;
        padding-right: 15px;
    }
    .box-80per {
        margin: 0 auto;
        padding: 0 15px;
        width: 80%;
    }
}


/* ==================================================
**
**  Header
**
================================================== */

header .site-meta {
    display: none;
}

header .navbar {
    margin-bottom: 0;
    border: none;
    /*height: 70px;*/
}

header .navbar .navbar-header {
    position: relative;
    height: 70px;
}

header .navbar .navbar-header .navbar-brand {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 44px;
    margin-top: -22px;
    margin-left: -125px;
    background: url(../img/logo-sp.png) center no-repeat;
    background-size: contain;
    text-indent: -9999em;
}

header .navbar .navbar-header .navbar-toggle {
    margin-top: 16px;
    padding: 8px;
    /*background-color: #0071b2;*/
    border-radius: 1px;
}

header .navbar .navbar-header .navbar-toggle .icon-bar {
    width: 26px;
    height: 2px;
    background-color: #0071b2;
    border-radius: 2px;
    transition: all .4s;
}

header .navbar .navbar-header .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 6px;
}

header .navbar .navbar-header .navbar-toggle .icon-bar:nth-of-type(2) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg);
}

header .navbar .navbar-header .navbar-toggle .icon-bar:nth-of-type(3) {
    opacity: 0;
}

header .navbar .navbar-header .navbar-toggle .icon-bar:nth-of-type(4) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-8px) rotate(45deg);
}

header .navbar .navbar-header .navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
}

header .navbar .navbar-header .navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
}

header .navbar .navbar-header .navbar-toggle.collapsed .icon-bar:nth-of-type(4) {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
}

header .navbar #wrap-gnav {
    padding: 0;
    background-color: rgba(0, 113, 178, .1);
    overflow: hidden;
}

header .navbar #wrap-gnav #gnav {
    padding: 0;
    border: none;
    box-shadow: none;
}

header .navbar #wrap-gnav #gnav ul {
    margin: 0;
    padding: 10px 10px 0;
}

header .navbar #wrap-gnav #gnav ul > li {
    /*border-bottom: 1px solid #016aa7;*/
    margin-bottom: 10px;
    width: 49%;
    float: left;
}

header .navbar #wrap-gnav #gnav ul > li:nth-child(odd) {
    margin-right: 2%;
}

header .navbar #wrap-gnav #gnav ul li a {
    display: block;
    padding: 15px 12px;
    background-color: rgba(255, 255, 255, .85);
    color: #0071b2;
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0;
    border: 1px solid rgba(0, 113, 178, .15);
    border-radius: 2px;
}

header .navbar #wrap-gnav #gnav ul li.active a {
    background-color: rgba(0, 113, 178, .3);
    color: #fff;
}

header .navbar #wrap-gnav #menu-g_menu_info {
    margin: 10px 0;
    padding: 6px 0;
    border-top: 1px solid rgba(0, 113, 178, .15);
    border-bottom: 1px solid rgba(0, 113, 178, .15);
}

header .navbar #wrap-gnav #g_menu_info {
    padding: 0 15px;
}

header .navbar #wrap-gnav #menu-g_menu_info li a {
    position: relative;
    display: block;
    padding: 0 0 0 20px;
    font-size: 12px;
    line-height: 44px;
}

header .navbar #wrap-gnav #menu-g_menu_info li.active a {
    padding: 0 26px;
    background-color: rgba(0, 113, 178, .3);
    color: #fff;
    border-radius: 4px;
}

header .navbar #wrap-gnav #menu-g_menu_info li a:hover,
header .navbar #wrap-gnav #g_menu_company .navbar-nav li a:hover {
    background-color: rgba(0, 113, 178, .3);
}

header .navbar #wrap-gnav #menu-g_menu_info > li:nth-child(1) a:before {
    position: absolute;
    top: 50%;
    left: 4px;
    margin-top: -22px;
    content: '\f27a';
    font-family: FontAwesome;
}

header .navbar #wrap-gnav #menu-g_menu_info > li:nth-child(2) a:before {
    position: absolute;
    top: 50%;
    left: 4px;
    margin-top: -22px;
    content: '\f06b';
    font-family: FontAwesome;
}

header .navbar #wrap-gnav #menu-g_menu_info > li:nth-child(3) a:before {
    position: absolute;
    top: 50%;
    left: 4px;
    margin-top: -22px;
    content: '\f06a';
    font-family: FontAwesome;
}

header .navbar #wrap-gnav #menu-g_menu_info > li.active:nth-child(1) a:before,
header .navbar #wrap-gnav #menu-g_menu_info > li.active:nth-child(2) a:before,
header .navbar #wrap-gnav #menu-g_menu_info > li.active:nth-child(3) a:before {
    left: 8px;
}

header .navbar #wrap-gnav #menu-g_menu_info > li:nth-child(1) a:after,
header .navbar #wrap-gnav #menu-g_menu_info > li:nth-child(2) a:after,
header .navbar #wrap-gnav #menu-g_menu_info > li:nth-child(3) a:after {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -22px;
    content: '\f054';
    font-family: FontAwesome;
}

header .navbar #wrap-gnav #g_menu_company .navbar-nav {
    margin: 0;
    padding: 0 15px 15px;
}

header .navbar #wrap-gnav #g_menu_company .navbar-nav li a {
    display: block;
    padding: 0 4px;
    font-size: 12px;
    line-height: 34px;
    color: rgba(0, 0, 0, .7);
}

header .navbar #wrap-gnav #g_menu_company .navbar-nav li.active a {
    padding-left: 14px;
    background-color: rgba(0, 113, 178, .3);
    color: #fff;
    border-radius: 3px;
}

@media (min-width: 768px) {
    header .site-meta {
        position: relative;
        display: block;
        padding-top: 2em;
    }
    header .site-meta .container {
        position: relative;
    }
    header .site-meta .site-description {
        font-size: 12px;
        font-weight: 600;
        color: #0071b2;
        letter-spacing: 3.5em;
    }
    header .site-meta .wrap-sns {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -31px;
    }
    header .site-meta .wrap-sns ul li {
        padding: 0;
        font-size: 12px;
    }
    header .site-meta .wrap-sns ul li .fa-stack-2x {
        color: #dcdcdc;
    }
    header .navbar .navbar-header {
        width: 100%;
    }
    header .navbar .navbar-header .navbar-brand {}
    header .navbar #wrap-gnav {
        background-color: transparent;
    }
    header .navbar #wrap-gnav #menu-gnav-pc {
        margin-bottom: 30px;
        width: 100%;
    }
    header .navbar #wrap-gnav #menu-gnav-pc li {
        float: left;
        width: 14.28571428571429%;
    }
    header .navbar #wrap-gnav #menu-gnav-pc li > a {
        text-indent: -9999em;
    }
    header .navbar #wrap-gnav #menu-gnav-pc li#menu-item-776 > a {
        background: url(../img/gnav-gourmet.png) center no-repeat;
    }
    header .navbar #wrap-gnav #menu-gnav-pc li#menu-item-777 > a {
        background: url(../img/gnav-beauty.png) center no-repeat;
    }
    header .navbar #wrap-gnav #menu-gnav-pc li#menu-item-778 > a {
        background: url(../img/gnav-hotsprings.png) center no-repeat;
    }
    header .navbar #wrap-gnav #menu-gnav-pc li#menu-item-779 > a {
        background: url(../img/gnav-event.png) center no-repeat;
    }
    header .navbar #wrap-gnav #menu-gnav-pc li#menu-item-780 > a {
        background: url(../img/gnav-hospital.png) center no-repeat;
    }
    header .navbar #wrap-gnav #menu-gnav-pc li#menu-item-782 > a {
        background: url(../img/gnav-housing.png) center no-repeat;
    }
    header .navbar #wrap-gnav #menu-gnav-pc li#menu-item-783 > a {
        background: url(../img/gnav-bridl.png) center no-repeat;
    }
}


/* ==================================================
**
**  Page Title
**
================================================== */

.page-title {
    padding: 10px 0;
    background-color: #ededed;
    /*background-color: rgba(0, 113, 178, .15);*/
}

.page-title .title {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #0071b2;
}

.post-type-archive-gourmet .page-title .title,
.single-gourmet .page-title .title {
    background: url(../img/bg-pagettl-gourmet.png) center no-repeat;
    background-size: contain;
    text-indent: -9999em;
    line-height: 44px;
    height: 50px;
}


/* ==================================================
**
**  Title
**
================================================== */

.title-bg-img {
    text-indent: -9999em;
    height: 85px;
    margin: 40px 0 16px 0;
}

.wrap-magazine .title-bg-img {
    background: url(../img/bar-tjsaisin.svg) center no-repeat;
    background-size: contain;
}

.wrap-events .title-bg-img {
    background: url(../img/bar-event.svg) center no-repeat;
    background-size: contain;
}

.wrap-feature .title-bg-img {
    background: url(../img/bar-featune.svg) center no-repeat;
    background-size: contain;
}

.wrap-machineta .title-bg-img {
    background: url(../img/bar-matineta.svg) center no-repeat;
    background-size: contain;
}

.wrap-events-tj .title-bg-img {
    background: url(../img/bar-tjevent.svg) center no-repeat;
    background-size: contain;
}

.wrap-reserveseat .title-bg-img {
    background: url(../img/bar-reseve.svg) center no-repeat;
    background-size: contain;
}

.wrap-info .title-bg-img {
    background: url(../img/bar-information.svg) center no-repeat;
    background-size: contain;
}

.wrap-presents .title-bg-img {
    background: url(../img/bar-present.svg) center no-repeat;
    background-size: contain;
}

.wrap-correction .title-bg-img {
    background: url(../img/bar-corection.svg) center no-repeat;
    background-size: contain;
}

.wrap-separate .title-bg-img {
    background: url(../img/bar-magazine.svg) center no-repeat;
    background-size: contain;
}

.page-title + .wrap-breadcrumbs + .container > article > .inner > *:first-child {
    margin-top: 0;
}

.page article h1.title,
.page article h2.title,
.page article h3.title,
.page article h4.title,
.lead {
    line-height: 1.8;
}

.page article h1.title {
    font-size: 22px;
}

.page article h2.title {
    font-size: 18px;
}

.page article h3.title {
    font-size: 16px;
}

.page article h4.title {
    font-size: 14px;
}


/* ==================================================
**
**  Breadcrumb
**
================================================== */

.breadcrumb {
    margin: 0 -15px 22px;
    padding: 10px;
    border-radius: 0;
    font-size: 11px;
    letter-spacing: 0;
    background-color: #f6f6f6;
    /*background-color: rgba(0, 113, 178, .05);*/
}


/* ==================================================
**
**  シングルページ内のナビゲーション
**
================================================== */

.single article .inner .nav-tabs {
    margin: 0;
    border-bottom: none;
}

.single article .inner .nav-tabs > li {
    width: 20%;
}

.single article .inner .nav-tabs > li.active {
    background-color: rgba(0, 113, 178, .1);
}

.single article .inner .nav-tabs > li > a {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    text-indent: -9999em;
    line-height: 60px;
}

.single article .inner .nav-tabs > li > a[aria-controls="basic"] {
    background: url(../img/2nd-nav-kihon-sp.png) center no-repeat;
    background-size: contain;
}

.single article .inner .nav-tabs > li > a[aria-controls="photo"] {
    background: url(../img/2nd-nav-poto-sp.png) center no-repeat;
    background-size: contain;
    background-color: #dedede;
    pointer-events: none;
}

.single article .inner .nav-tabs > li > a[aria-controls="menu"] {
    background: url(../img/2nd-nav-menu-sp.png) center no-repeat;
    background-size: contain;
    background-color: #dedede;
    pointer-events: none;
}

.single article .inner .nav-tabs > li > a[aria-controls="map"] {
    background: url(../img/2nd-nav-map-sp.png) center no-repeat;
    background-size: contain;
    background-color: #dedede;
    pointer-events: none;
}

.single article .inner .nav-tabs > li > a[aria-controls="coupon"] {
    background: url(../img/2nd-nav-q-sp.png) center no-repeat;
    background-size: contain;
    background-color: #dedede;
    pointer-events: none;
}

.single article.pay-mbr .inner .nav-tabs > li > a {
    background-color: transparent;
    pointer-events: auto;
}


/* ==================================================
**
**  article category
**
================================================== */

.category .container > article:not(:last-child) {
    margin-bottom: 34px;
}

.category .container > article .inner .wrap-blog-meta {
    padding-bottom: 10px;
    border-bottom: 1px solid #d9eaf4;
    font-size: 12px;
    font-weight: 600;
}

.category .container > article .inner h1.title {
    margin-top: 0;
    font-size: 18px;
    line-height: 1.4;
}


/* ==================================================
**
**  リスト
**
================================================== */

.news-list {
    margin-bottom: 0;
}

.news-list li {
    font-size: 12px;
}

.news-list > li:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 113, 178, .15);
}

.news-list li .news-date {
    display: block;
    font-weight: 600;
    letter-spacing: 0;
}

.news-list li .news-title {
    display: block;
}

/* ==================================================
**
**  テーブル
**
================================================== */
.table {
    border-bottom: 1px solid #ddd;
}
.table tr,
.table tr th,
.table tr td {
    display: block;
}
.table tr th,
.table tr td {
    display: block;
    padding: 8px;
    font-size: 12px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.table tr th {
    background-color: #f1f1f1;
    font-weight: 600;
}
.table tr td {
    background-color: #f9f9f9;
}
@media (min-width: 768px) {
    .table tr {
        display: table-row;
    }
    .table tr th,
    .table tr td {
        display: table-cell;
        vertical-align: middle;
    }
}

/* ==================================================
**
**  aside
**
================================================== */

aside {
    margin-top: 44px;
}

.wrap-sns ul {
    margin-top: 10px;
}

.wrap-sns ul li a {
    display: block;
    color: #dcdcdc;
}

.wrap-footer-bnr {
    margin-top: 30px;
}

.wrap-footer-bnr .widget-area {
    width: 48%;
    float: left;
}

.wrap-footer-bnr > .container > .widget-area:nth-child(odd) {
    margin-right: 4%;
}

.wrap-footer-bnr .widget-area ul {
    padding-left: 0;
    list-style: none;
}

.wrap-footer-bnr .widget-area ul li h3 {
    display: none;
}

@media (min-width: 768px) {
    .wrap-footer-bnr > .container > .widget-area:nth-child(odd) {
        margin-right: 0;
    }
    .wrap-footer-bnr .widget-area,
    .wrap-footer-bnr > .container > .widget-area:nth-child(odd) {
        width: 23.5%;
        margin-right: 2%;
    }
    .wrap-footer-bnr > .container > .widget-area:nth-child(4n) {
        margin-right: 0;
    }
    .wrap-footer-bnr > .container > .widget-area ul {
        margin-top: 24px;
        margin-bottom: 0;
    }
}


/* ==================================================
**
**  Footer
**
================================================== */

footer {
    margin-top: 44px;
    background-color: #ededed;
    color: #fff;
}

footer .copy {
    margin-bottom: 0;
    text-align: center;
    font-size: 10px;
    line-height: 44px;
    color: #b2b2b2;
}


/* ==================================================
**
**  トップに戻る, 無限スクロール
**
================================================== */

#toPageTop {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 9999;
    text-indent: -9999em;
}

#toPageTop a {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/totop.png) 0 0 no-repeat;
}

#toPageTop a:hover {
    background: url(../img/totop.png) 0 -50px no-repeat;
}

#infscr-loading img {
    display: block;
    margin: 0 auto;
}

#infscr-loading .finished_message {
    display: block;
    text-align: center;
}


/* ==================================================
**
**  検索ボタン .wrap-search-detail
**
================================================== */

.wrap-search-detail {
    margin: -22px -10px 10px;
    padding: 15px;
    background-color: #f1f1f1;
}

.wrap-search-detail .btn-primary {
    background-color: #0071b2;
}


/* ==================================================
**
**  詳細検索
**
================================================== */

.modal-content {
    border-radius: .25rem;
}

.modal-content .modal-header .modal-title {
    font-size: 14px;
}

.modal-content .modal-body form h3 {
    margin: 0 0 14px;
    padding: 6px 5px 5px;
    font-size: 14px;
    font-weight: 600;
    border-left: 4px solid #ddd;
}

.modal-content .modal-body form h4 {
    font-size: 14px;
}

.modal-content .modal-body form .wrap-checkbox ul {
    padding-left: 0;
    list-style: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.modal-content .modal-body form .wrap-checkbox ul li {
    position: relative;
    margin-bottom: 10px;
    padding: 12px;
    width: 32%;
    background: #ddd;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content .modal-body form .wrap-checkbox ul li.checked {
    background: #fc0;
}

.modal-content .modal-body form .wrap-checkbox ul li label {
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 1.4;
    color: #fff;
}

.modal-content .modal-body form .wrap-checkbox ul li label input {
    /*display: none;*/
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
}

.modal-content .modal-body form > p input[type="submit"] {
    display: block;
    width: 100%;
    line-height: 44px;
    border: none;
    border-radius: .25rem;
}

.extra-error {
    display: none;
    text-align: center;
    letter-spacing: 0;
}


/* ==================================================
**
**  検索結果
**
================================================== */

.search-meta {
    margin-bottom: 44px;
    padding: 15px;
    background-color: #e9e9e9;
    border-radius: 2px;
}

.search-meta dl {
    margin-bottom: 10px;
    font-size: 12px;
}

.search-meta > dl:last-child {
    margin-bottom: 0;
}


/* ==================================================
**
**  Single
**
================================================== */

.single article {
    padding: 15px;
    background-color: #fff;
}

.single article .inner .wrap-thumbnail {
    margin: -15px -15px 18px;
}

.single article .inner h1.title {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.4;
}

.single article .inner h2.title {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.4;
}

.single article .inner .wrap-contents p {
    font-size: 13px;
    line-height: 1.8;
    text-align: justify;
}

.single article .inner .wrap-contents .wrap-table {
    margin: 20px -15px 20px;
}

.single article .inner .wrap-contents .wrap-table .table {
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}

.single article .inner .wrap-contents .wrap-table .table th {
    background-color: #f1f1f1;
    vertical-align: middle;
}

.single article .inner .wrap-contents .wrap-table .table td {
    background-color: #f9f9f9;
    vertical-align: middle;
}

.single article .inner .wrap-contents .wrap-table .table td ul {
    margin-bottom: 0;
}

.single article .inner .wrap-contents .wrap-map {
    margin: 20px -15px -15px;
}


/* ==================================================
**
**  Helper
**
================================================== */

.bg-base {
    background-color: #e9e9e9;
}

.bg-base-light {
    background-color: #f1f1f1;
}

.bg-base-super-light {
    background-color: #f6f6f6;
    padding: 20px 0;
}

.bg-base-sns {
    background-color: #ededed;
    padding: 20px 0;
}

.lr-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.hl-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.lr-hl-center-parent {
    position: relative;
}

.lr-hl-center-parent .child {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

br.pc-break {
    display: none;
}

@media (min-width: 768px) {
    br.pc-break {
        display: block;
    }
}

.kome {
    text-indent: -1em;
    padding-left: 1em;
}
ul.kome {
    text-indent: 0;
    padding-left: 1em;
}

.neon {
    background: linear-gradient(transparent 40%, #ffff66 40%);
}

.box-container {
    margin-left: 10px;
    margin-right: 10px;
}

.box-default {
    border: 10px solid #e4e4e4;
}

.box-blue {
    margin-top: 22px;
    padding: 15px;
    background-color: rgba(0, 113, 178, .05);
    border-radius: 2px;
    font-size: 12px;
}

.box-blue > *:first-child,
.box-lead > *:first-child {
    margin-top: 0;
}

.box-blue > *:last-child,
.box-lead > *:last-child {
    margin-bottom: 0;
}

.box-lead {
    padding: 15px;
    background-color: #ff55aa;
    color: #fff;
}

.box-center * {
    text-align: center
}

.wrap-call a {
    display: block;
    line-height: 44px;
}

.box-round {
    border: 1px solid #e9e9e9;
    text-align: center;
    letter-spacing: 0;
    line-height: 1.4;
}


/* ==================================================
**
**  Margin
**
================================================== */

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt22-sp {
    margin-top: 22px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.mts10,
.mts20,
.mts30,
.mts40,
.mts50,
.mts60,
.mts70,
.mts80,
.mts90,
.mts100 {
    margin-top: 2rem;
}

.mbs10,
.mbs20,
.mbs30,
.mbs40,
.mbs50,
.mbs60,
.mbs70,
.mbs80,
.mbs90,
.mbs100 {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .mts10 {
        margin-top: 10px;
    }
    .mts20 {
        margin-top: 20px;
    }
    .mt22-sp {
        margin-top: 0;
    }
    .mts30 {
        margin-top: 30px;
    }
    .mts40 {
        margin-top: 40px;
    }
    .mts50 {
        margin-top: 50px;
    }
    .mts60 {
        margin-top: 60px;
    }
    .mts70 {
        margin-top: 70px;
    }
    .mts80 {
        margin-top: 80px;
    }
    .mts90 {
        margin-top: 90px;
    }
    .mts100 {
        margin-top: 100px;
    }
    .mbs10 {
        margin-bottom: 10px;
    }
    .mbs20 {
        margin-bottom: 20px;
    }
    .mbs30 {
        margin-bottom: 30px;
    }
    .mbs40 {
        margin-bottom: 40px;
    }
    .mbs50 {
        margin-bottom: 50px;
    }
    .mbs60 {
        margin-bottom: 60px;
    }
    .mbs70 {
        margin-bottom: 70px;
    }
    .mbs80 {
        margin-bottom: 80px;
    }
    .mbs90 {
        margin-bottom: 90px;
    }
    .mbs100 {
        margin-bottom: 100px;
    }
}

/* ==================================================
**
**  Padding
**
================================================== */
.pd-base {
    padding: 15px;
}